In [5]:
import pandas as pd

In [6]:
all_seasons = pd.read_csv('all_seasons.csv')

In [7]:
all_seasons.head()

,Unnamed: 0,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,...,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season
0,0,Dennis Rodman,CHI,36.0,198.12,99.790240,Southeastern Oklahoma State,USA,1986,2,...,5.7,16.1,3.1,16.1,0.186,0.323,0.100,0.479,0.113,1996-97
1,1,Dwayne Schintzius,LAC,28.0,215.90,117.933920,Florida,USA,1990,1,...,2.3,1.5,0.3,12.3,0.078,0.151,0.175,0.430,0.048,1996-97
2,2,Earl Cureton,TOR,39.0,205.74,95.254320,Detroit Mercy,USA,1979,3,...,0.8,1.0,0.4,-2.1,0.105,0.102,0.103,0.376,0.148,1996-97
3,3,Ed O'Bannon,DAL,24.0,203.20,100.697424,UCLA,USA,1995,1,...,3.7,2.3,0.6,-8.7,0.060,0.149,0.167,0.399,0.077,1996-97
4,4,Ed Pinckney,MIA,34.0,205.74,108.862080,Villanova,USA,1985,1,...,2.4,2.4,0.2,-11.2,0.109,0.179,0.127,0.611,0.040,1996-97

In [8]:
all_seasons.describe

<bound method NDFrame.describe of        Unnamed: 0        player_name team_abbreviation   age  player_height  \
0               0      Dennis Rodman               CHI  36.0         198.12
1               1  Dwayne Schintzius               LAC  28.0         215.90
2               2       Earl Cureton               TOR  39.0         205.74
3               3        Ed O'Bannon               DAL  24.0         203.20
4               4        Ed Pinckney               MIA  34.0         205.74
...           ...                ...               ...   ...            ...
12300       12300    Markieff Morris               MIA  32.0         205.74
12301       12301     Markelle Fultz               ORL  24.0         193.04
12302       12302       Marcus Smart               BOS  28.0         193.04
12303       12303     Marcus Garrett               MIA  23.0         195.58
12304       12304       Micah Potter               DET  24.0         208.28

       player_weight                      college country draft_year  \
0          99.790240  Southeastern Oklahoma State     USA       1986
1         117.933920                      Florida     USA       1990
2          95.254320                Detroit Mercy     USA       1979
3         100.697424                         UCLA     USA       1995
4         108.862080                    Villanova     USA       1985
...              ...                          ...     ...        ...
12300     111.130040                       Kansas     USA       2011
12301      94.800728                   Washington     USA       2017
12302      99.790240               Oklahoma State     USA       2014
12303      92.986360                       Kansas     USA  Undrafted
12304     112.490816                    Wisconsin     USA  Undrafted

      draft_round  ...   pts   reb  ast  net_rating  oreb_pct  dreb_pct  \
0               2  ...   5.7  16.1  3.1        16.1     0.186     0.323
1               1  ...   2.3   1.5  0.3        12.3     0.078     0.151
2               3  ...   0.8   1.0  0.4        -2.1     0.105     0.102
3               1  ...   3.7   2.3  0.6        -8.7     0.060     0.149
4               1  ...   2.4   2.4  0.2       -11.2     0.109     0.179
...           ...  ...   ...   ...  ...         ...       ...       ...
12300           1  ...   7.6   2.6  1.4         4.5     0.059     0.089
12301           1  ...  10.8   2.7  5.5        -5.3     0.010     0.116
12302           1  ...  12.1   3.8  5.9         9.3     0.018     0.093
12303   Undrafted  ...   1.1   1.9  0.6         5.8     0.072     0.108
12304   Undrafted  ...   4.0   3.0  0.0       -56.4     0.095     0.125

       usg_pct  ts_pct  ast_pct   season
0        0.100   0.479    0.113  1996-97
1        0.175   0.430    0.048  1996-97
2        0.103   0.376    0.148  1996-97
3        0.167   0.399    0.077  1996-97
4        0.127   0.611    0.040  1996-97
...        ...     ...      ...      ...
12300    0.197   0.547    0.116  2021-22
12301    0.265   0.517    0.448  2021-22
12302    0.179   0.540    0.245  2021-22
12303    0.086   0.280    0.069  2021-22
12304    0.148   0.505    0.000  2021-22

[12305 rows x 22 columns]>

In [9]:
nba_22 = pd.read_csv('nba_2022_2023.csv')

In [10]:
nba_22.describe()

,Age,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
count,679.000000,679.000000,679.000000,679.000000,679.000000,679.000000,676.000000,679.000000,679.000000,655.000000,...,642.000000,679.000000,679.000000,679.000000,679.000000,679.000000,679.000000,679.000000,679.000000,679.000000
mean,26.025037,43.337261,20.069219,19.464212,3.249337,6.921060,0.464241,0.996613,2.783063,0.329798,...,0.752586,0.842268,2.620324,3.461708,2.011782,0.601767,0.370545,1.067305,1.660825,8.859057
std,4.325709,24.729145,25.766359,9.415320,2.362501,4.795565,0.112790,0.862033,2.209284,0.128238,...,0.150094,0.731867,1.715881,2.281077,1.891335,0.392063,0.367465,0.799478,0.770299,6.630944
min,19.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,23.000000,22.000000,0.000000,12.150000,1.500000,3.400000,0.415000,0.300000,1.000000,0.297000,...,0.686500,0.300000,1.400000,1.800000,0.800000,0.300000,0.100000,0.500000,1.200000,4.100000
50%,25.000000,45.000000,6.000000,18.800000,2.600000,5.700000,0.454000,0.800000,2.400000,0.349000,...,0.769000,0.700000,2.300000,3.000000,1.300000,0.500000,0.300000,0.900000,1.600000,6.900000
75%,29.000000,65.500000,36.500000,27.550000,4.200000,9.200000,0.506000,1.500000,4.150000,0.389000,...,0.844750,1.100000,3.400000,4.500000,2.700000,0.800000,0.500000,1.400000,2.200000,11.550000
max,42.000000,83.000000,83.000000,41.000000,11.200000,22.200000,1.000000,4.900000,11.400000,1.000000,...,1.000000,5.100000,9.600000,12.500000,10.700000,3.000000,3.000000,4.100000,5.000000,33.100000

Going to check out our dependent variable, points:

In [16]:
all_seasons.pts.describe()
all_seasons['pts'].describe()
# The first method doesn't work for certain file names, like 'date'

count    12305.000000
mean         8.172775
std          5.974957
min          0.000000
25%          3.600000
50%          6.700000
75%         11.500000
max         36.100000
Name: pts, dtype: float64

In [20]:
all_seasons[['reb', 'ast','pts']].describe()

                reb           ast           pts
count  12305.000000  12305.000000  12305.000000
mean       3.559155      1.813986      8.172775
std        2.483550      1.794155      5.974957
min        0.000000      0.000000      0.000000
25%        1.800000      0.600000      3.600000
50%        3.000000      1.200000      6.700000
75%        4.700000      2.400000     11.500000
max       16.300000     11.700000     36.100000

In [18]:
nba_22.columns

Index(['Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P',
       '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS'],
      dtype='object')

In [19]:
nba_22[['TRB','AST','PTS']].describe()

              TRB         AST         PTS
count  679.000000  679.000000  679.000000
mean     3.461708    2.011782    8.859057
std      2.281077    1.891335    6.630944
min      0.000000    0.000000    0.000000
25%      1.800000    0.800000    4.100000
50%      3.000000    1.300000    6.900000
75%      4.500000    2.700000   11.550000
max     12.500000   10.700000   33.100000

In [21]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.ensemble import RandomForestRegressor

In [23]:
# Feature variables
X = all_seasons[['reb', 'ast']]

# dependent variables
y = all_seasons['pts']

In [24]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [28]:
import numpy as np

In [36]:
# Step 4: Build and train the Random Forest Regression model
rf_model = RandomForestRegressor(n_estimators=100, random_state=42)  # You can adjust hyperparameters as needed
rf_model.fit(X_train, y_train)

# Step 5: Make predictions on the test set
y_pred = rf_model.predict(X_test)

# Step 6: Evaluate the model
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)

print("Mean Squared Error (MSE):", mse)
print("R-squared (R2):", r2)
print("Root mean squared error (RMSE)", rmse)

Mean Squared Error (MSE): 12.322834233986036
R-squared (R2): 0.6660909689782268
Root mean squared error (RMSE) 3.5103894704129393

In [30]:
y_pred
# Predicted points for each player (each row in the dataset)

array([ 1.97516658,  7.55449286,  4.92269762, ..., 11.86559881,
        3.22501689,  6.11773015])

In [2]:
import pandas as pd

In [3]:
countyData = pd.read_csv('county_data.csv')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xf1 in position 186071: invalid continuation byte